.projects {
  min-height: calc(100vh - 150px);
  align-items: center;
  display: flex;
}

.projects__header h1 {
  font-size: 1em;
  font-weight: 300;
}

.projects__list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects__list.ui.cards {
  margin-top: 2em;
  display: inline-flex;
  justify-content: center;
}

.projects__list .project {
  padding: 0.5em 1em;
}

.projects__list .project > .ui.card {
  text-align: center;
}

.card__content {
  align-items: center;
}

.load__button {
  flex: 1;
  text-align: right;
}

.projects__floating-button {
  position: absolute;
  left: 0;
  top: 0;
}

.projects__dummy.ui.card > .content,
.projects__list.ui.cards > .card > .content {
  
  min-height: 100px;
  width: 100%;
  text-align: center;

}

.projects__dummy .ui.button {
  width: auto;
  margin-top: 5px;
  /* padding: 0; */
  min-height: 40px;

}

.projects_list {
  height: 200px;
}